/* .navigasi a{
    background-color: yellowgreen;
    width: 200px;
    height: 200px;
    display: inline-block;
}
.main{
    width: auto;
    background-color: tomato;
}
.main h2{
    background-color: turquoise;
}
img{
    display: none;
} */